.our-service{
   position: relative;
   padding: 20px 20px;
   
   &::before{
      position: absolute;
      z-index: 20;
      top: calc(50% - 800px);
      left: calc(50% - 780px);
      display: block;
      width: 402px;
      height: 300px;
      background-image: url(../images/back-1.png);
       background-size: contain;
       background-repeat: no-repeat;
       content: "";
   }
      &::after{
      position: absolute;
      top: calc(50% + -200px);
      right: calc( 50% - 970px);
      display: block;
      width: 397px;
      height: 477px;
      background-image: url(../images/back-3.png);
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
   }
   .back-color{
      background-image: url(../images/Rectangle.png);
      background-repeat: no-repeat;
      background-size: 100%;
      background-blend-mode: overlay;
      background-color: #F4F4EB;
   }
   
   .our-servic-inner{
      position: relative;
      padding: 50px 143px 50px 143px; 
   }
   .our-servic-inner::before{
      position: absolute;
      top: calc(50% + 400px);
      left: calc(50% - 870px);
      display: block;
      width: 316px;
      height: 269px;
      background-image: url(../images/back-2.png);
      background-size: contain;
      background-repeat: no-repeat;
      content: "";
   }
   .our-service__servic-title{
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 50px;
      line-height: 59px;
      text-align: center;
      color: #000000;
      margin: 0;
      margin-bottom: 80px;
      margin-right: auto;
      margin-left: auto;
   }
   .servic-list{
      display: inline-block;
      width: 1114px;
      margin: 0 auto;
      padding: 0;
      list-style-type: none;
   }
   .servic-list__items{
      display: flex;
      align-items: center;
   }
   .servic-list__items:nth-child(2n + 2){
      flex-direction: row-reverse;
   }
   .servic-list__servic-right{
    margin-left: 117px;
   }
   .servic-right__title{
      font-family: 'Roboto';
      font-weight: 500;
      font-size: 48px;
      line-height: 56px;
      color: #333333;
      margin: 0;
      margin-bottom: 10px;
   }
   .servic-text-box__servic-text{
      font-family: 'Roboto';
      font-weight: 400;
      font-size: 22px;
      line-height: 34px;
      color: #333333;
      margin: 0;
   }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
.our-service{
   &::before{
      background-image: url(../images/colb2x-1.png);
   }
}
   .back-color{
   background-image: url(../images/colbgi2x@.png);

}
.our-servic-inner{
   &::before{
      background-image: url(../images/colb2x@-2.png);

   }
}
   
  
  
}